.item_table {
  padding: 0 15px 0 15px;
  display: grid;
  height: 40px;
  align-items: center;
  grid-template-columns: 30px 220px 300px 350px 250px auto;

  &:nth-child(2n+1) {
    background-color: #EAEAEA;
  }

  &:has(> input:checked) {
    background-color: #E0F5FF;
  }

  span {
    display: block;
  }
}

.item_tiles {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  align-items: flex-start;
  background-color: #EAEAEA;

  &:has(> input:checked) {
    background-color: #E0F5FF;
  }

  input {
    margin: 15px 0 0 15px;
  }
    
  img {
    align-self: center;
  }

  span {
    width: 100%;
    text-align: center;
  }

  .name {
    font-weight: 700;
    margin-top: 20px;
  }

  .group, .groupUnmanaged {
    margin-top: 10px;
  }

  .groupUnmanaged {
    font-weight: 700;
  }

  .phone {
    margin-top: 15px;
  }
}

.item_groups {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #969696;
  margin-top: 15px;
  padding: 25px 20px 15px 20px;
  box-shadow: 0 0 10px #D5D5D5;

  &:has(> input:checked) {
    background-color: #E0F5FF;
    box-shadow: 0 0 10px #9DAEB5;
    border-color: #627D8A;
  }
  
  input {
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    font-size: 18px;
  }

  .group {
    color: #747474;
  }
}